@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply text-zinc-700  bg-zinc-50 font-nunito;
        background-image: radial-gradient(circle, #fafafa, #f0f0f2, #e6e7ea, #dcdee3, #d1d5db);
    }
}

@layer components{
    .active-tab{
        @apply bg-blue-500 text-zinc-50;
    }

    .hide-sidebar{
        @apply -translate-x-full;
    }

    .show-sidebar{
        @apply translate-x-0;
    }
}

/* Resize scrollbar width */
::-webkit-scrollbar {
    width: 4px; /* Change scrollbar width */
    height: 4px; /* Change scrollbar height (horizontal scrollbars) */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #60a5fa;
    border-radius: 5px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
}   

[x-cloak] {
    display: none !important;
}